@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.text-gray {
    color: #424242;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
}


.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;

}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner-img {
    max-width: 100%;
}

.teams {
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.section-title {
    font-size: 2.6rem;
    margin-top: 70px;
}

.quick-list {
    color: rgb(114, 114, 114);
}

.Features {
    color: #rgb(255, 144, 14);
}

.fact-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
    margin-bottom: 30px;
}

.fact-number {
    color: rgb(66, 66, 66);
    font-weight: 600;
    font-size: 2.9rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    color: rgb(66, 66, 66);
    font-weight: 600;
    font-size: 1.2rem;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.sponsor-info {
    max-width: 550px;
    text-align: center;
    margin: 50px auto;
    height: 130px;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

.section-title {
    font-weight: 700;
    font-size: 2.9rem;
    color: rgb(19, 19, 19)
}

.sponser-text {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114)
}

.footer {
    max-width: 1440px;
    margin: 0 auto;
    margin: 100px;
}

.last {
    background-color: rgb(255, 244, 231);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 8px;

}

#feature-section-title {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 25px;
}

.features p {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
}

.common-title {
    color: rgb(19, 19, 19);
    font-weight: 600;
    font-size: 1.25rem;
}

.feature-card {
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.features {
    margin-top: 120px;
}

.big-btn {
    height: 200px;
    width: 340px;
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    padding: 42px;
    border: none;
    margin-left: -120px;
    margin-top: -80px;

}

.year {
    font-weight: bold;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.Experience {
    font-weight: 500;
    font-size: 1.56rem;
    color: rgb(255, 255, 255);
}

.featured-architect img {
    width: 100%;

}

.features {
    gap: 140px;

}

.featured-architect {
    margin-top: 130px;
}

@media screen and (max-width:576px) {
.big-btn {
    height: 100px;
    width: 140px;
    border-radius: 8px;
    padding: 22px;
    border: none;
    margin-left: 12px;
    margin-top: -80px;

}

.year {
    font-weight: bold;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.Experience {
    font-weight: 500;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}


.features{
    flex-direction: column;
    gap: 30px;
    margin-top: 5px;
}
.featured-architect {
    margin-top: 10px;
}

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 30px;
    }

    .teams {
        margin-top: 30px;
    }


    .fact-container {
        justify-items: center;

        grid-template-columns: repeat(1, 1fr);
    }

    .fact-card {
        margin: 30px;
    }


    .sponsor-companies {

        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 50px;
    }

    .features {
        color: aqua;
    }


}



@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin-left: 30px;
    }

    .fact-container {
        justify-items: center;

        grid-template-columns: repeat(2, 1fr);
    }

    .fact-description {
        text-align: center;
    }

    .section-title {
        text-align: center;
    }

    .fact-card {
        margin-bottom: 30px;
    }

    .sponsor-companies {

        grid-template-columns: repeat(1, 1fr) 2fr;
        justify-items: center;
        gap: 50px;
    }

}